<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test">
  <test name="chrome Test">
    <classes>  
   	<class name="runnerTeste.CadastrarClienteRunner"/>
   	<class name="runnerTeste.ConsultaClienteRunner"/>
   	<class name="runnerTeste.CadastrarTransacoesRunner"/>
   	<class name="runnerTeste.ConsultaTransacoesRunner"/>
   
    </classes>
  </test>
</suite>

